body {
  display: flex;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(4, 170px);
  gap: 20px;
  grid-auto-rows: 340px;
  grid-template-areas:
    "grid-sale1 grid-sale1 grid-item1 grid-item2"
    "grid-sale2 grid-sale2 grid-item1 grid-item2"
    "grid-item3 grid-item4 grid-sale3 grid-sale3"
    "grid-item3 grid-item4 grid-sale4 grid-sale4";
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: antiquewhite;
  border-radius: 10px;
}

.grid-item1 {
  grid-area: grid-item1;
}
.grid-sale1 {
  grid-area: grid-sale1;
}
.grid-sale2 {
  grid-area: grid-sale2;
}
.grid-sale3 {
  grid-area: grid-sale3;
}
.grid-sale4 {
  grid-area: grid-sale4;
}
.grid-item1 {
  grid-area: grid-item1;
}
.grid-item2 {
  grid-area: grid-item2;
}
.grid-item3 {
  grid-area: grid-item3;
}
.grid-item4 {
  grid-area: grid-item4;
}

@media (max-width: 959px) {
  .grid {
    grid-template-columns: repeat(2, minmax(140px, 220px));
    grid-template-rows: repeat(8, 170px);
    grid-template-areas:
      "grid-sale1 grid-sale1"
      "grid-sale2 grid-sale2"
      "grid-item1 grid-item2"
      "grid-item1 grid-item2"
      "grid-sale3 grid-item3"
      "grid-sale3 grid-item3"
      "grid-item4 grid-item4"
      "grid-sale4 grid-sale4";
  }
}
@media (max-width: 485px) {
  .grid {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 140px);
    grid-auto-rows: 280px;
    grid-template-areas:
      "grid-sale1"
      "grid-sale1"
      "grid-sale2"
      "grid-sale2"
      "grid-item1"
      "grid-item2"
      "grid-sale3"
      "grid-item3"
      "grid-item4"
      "grid-sale4";
  }
}
